<!-- <div class="box" [class.myclass]="true">
    class binding
</div>

<div class="box" [class.myclass2]="mypro">
    class binding2
</div>

<div class="box" [style.margin]="mystyle1">
    class binding3
</div>

<div class="box" style="background-color: coral;">
    class binding4
</div> -->

<!-- <div class="box" [ngClass]="'class1 class2 class3' ">
    class binding
</div> -->



<!-- first one is wrong syntax second one is correct 
<div class="box" [ngStyle]="{
    background:red;
    border:10px solid green
}">
    class binding
</div>

<div class="box" [ngStyle]="{
    'background':'red',
    'border':'10px solid green'
}">
    class binding
</div>-->

<div class="box" [ngStyle]="mltStyle">
    class binding
</div>
