footer {
    position: fixed;
    height: 40px;
    width: 100%;
    background-color: #000000;
    bottom: 0px;
    left: 0px;
}

.copyright {
    position: sticky;
    width: 100%;
    color: #ffffff;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
    bottom:0;
}