<div class="cls font1 color1">
  <div class="mt-4 col-6 offset-3">
    <br><br><br>
      <div class="card">
        <div class="card-header"><h1>Login Here</h1></div>
        <div class="card-body">
  
  <form #loginForm=ngForm  (ngSubmit)="onSubmit()">
     
     <div class="alert alert-danger" [hidden]="!error" >
       {{error}}
     </div>
  
      <div class="form-group row">
        <label for="inputEmail3"  class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-6">
          <input type="email" name="email" placeholder="email" class="form-control" [(ngModel)]="form.email" id="inputEmail3" required>
        </div>
      </div>
  
      <div class="form-group row">
        <label for="inputPassword3"  class="col-sm-4 col-form-label">Password</label>
        <div class="col-sm-6">
          <input type="password"  name="password"  class="form-control" id="inputPassword3"
          placeholder="Password" [(ngModel)]="form.password" required>
        </div>
      </div>
      
      <div class="form-group row">
        <div class="col-sm-6 offset-4">
          <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">LOGIN</button>
        
  
          <a routerLink="/signup" class="btn btn-info float-right" > REGISTER </a>
        </div>
      </div>
  
    </form>
  
  
    <div>
  
    </div>