<app-header></app-header>
<div class="container-fluid" style="min-height:700px;">
      <!-- <div class="row" style="background-color:purple">
        header
      </div> -->
     
      <div class="row">
          <div class="col-md-3   " style="background-color:lavender; min-height:700px;">
             <app-profile-side-bar></app-profile-side-bar>
          </div>
          <div class="col-md-6" style="background-color:lightgrey; padding:10px;">
             <app-shouts></app-shouts>
          </div>
          <div class="col-md-3  " style="background-color:lavender;">
             <app-side-bar ></app-side-bar>
          </div>
        </div>
    </div>