<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<div class="dashboard row">
<div class="nav1">
    
 <h2>Welcome To User Dashboard</h2>

</div>
    <div class="row">
        <div class="col-md-8" style="padding-left: 35px;">

            <br>
            <div class="search">
                Search<input type="text" [(ngModel)]="serchText">
                {{filter}}
            </div>
            <br><br>
            <div><i class="fa fa-plus" aria-hidden="true"></i>
                <input routerLink="post" type="text" placeholder="post here...">
            </div>            
          
            <h2>Suggested friend List</h2>


            <table class="table table-stripped" *ngIf="myUser && myUser.length">
                <thead>
                    <th></th>
                    <th> </th>
                    <th> </th>
                </thead>
                <tr *ngFor="let user of myUser|searchText:serchText">
                    <td><a class="fa fa-user-circle-o" aria-hidden="true" routerLink="/userProfile/{{user.username}}"> {{user.username}}</a></td>
                    <td><button (click)='addUser(user)'>Add+</button></td>
                    <td><button (click)='deleteUser(user)'>Cancel</button></td>

                </tr>

            </table>

        </div>
        <div class="col-md-4">
        
                <div>
                     <h3 class="fa fa-users" aria-hidden="true" routerLink="user">Friend List </h3>
                    
                </div>
                
                <div>
                    <h3 class="fa fa-users" aria-hidden="true" routerLink="task">upload</h3>
                   
               </div>
        
         

        </div>

    </div>
</div>








