<!--The content below is only a placeholder and can be replaced.-->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-info">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand text-light" href="#">ShoutBOX</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       <li class="nav-item active">
        <a class="nav-link" href="#">Logo <span class="sr-only">(current)</span></a>
      </li> 
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Search">
      <input class="form-control mr-sm-2" type="text" placeholder="Password" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav> -->



<div class="main-view animated slideInleft">   

</div>  

  <!-- <app-login-form></app-login-form>    -->
<!-- <app-sign-up></app-sign-up> -->
    <!-- <app-sidebar></app-sidebar>
  <app-header></app-header>  
 <app-profiledetails></app-profiledetails>
 <app-posts></app-posts>  -->
 <!-- <app-one></app-one> -->
 <!-- <app-two></app-two>
 <app-three></app-three> --> 
  <!-- <app-signup></app-signup>  -->
 <!-- <app-nav></app-nav> -->



 <!-- main code -->

 
 <div class="container-fluid" style="padding:0%">
  <router-outlet></router-outlet> 
  
</div>
