
<div class="adjust">
  <br>
  <h1 class="color1">About Us</h1>

    <div class="font1">
   


<ul>
      <li>Shoutbox is a website were you can upload text,images,audio and video.</li>
      <li>Here you can add friend also we can send request or reject</li>
      <li>User can remove already made friend</li>
      <li>User can report shouts..</li>
      <li>we are providing the platform where you can get connect to your friends through social media</li>
</ul>
<br>
    <!-- <div class="disp">
      <img src="../../assets/kan.jpg" alt="">
      <img src="../../assets/abhi.jpg" alt="">
      <img src="../../assets/dak.jpg" alt=""> -->
      <div class="col-md-2 col-lg-4 col-xl-4 text-center mb-2">
        <img src="../../assets/abhi.jpg" alt="Image" class="img-fluid w-50  rounded-circle mb-4">
        <h2 class="text-black font-weight-light mb-4">Abhishek</h2>
      </div>
      <div class="col-md-2 col-lg-4 col-xl-4 text-center mb-2">
        <img src="../../assets/kan.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
        <h2 class="text-black font-weight-light mb-4">Kanchan</h2></div>
      <div class="col-md-2 col-lg-4 col-xl-4 text-center mb-2">
        <img src="../../assets/dak.jpg" alt="Image" class="img-fluid w-50  rounded-circle mb-4 ">
        <h2 class="text-black font-weight-light mb-4">Dakshata</h2>
      </div>
      <div class="col-md-2 col-lg-4 col-xl-4 text-center mb-2">
        <img src="../../assets/jana.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4 ">
        <h2 class="text-black font-weight-light mb-4">Jana</h2>
      </div>
      <div class="col-md-2 col-lg-4 col-xl-4 text-center mb-2">
        <img src="../../assets/pra.jpg" alt="Image" class="img-fluid w-50  rounded-circle mb-4">
        <h2 class="text-black font-weight-light mb-4">Prathamesh</h2>
      </div>
      

     
      <!-- <img src="../../assets/jana.jpg" alt="">
      <img src="../../assets/pra.jpg" alt="">
    </div> -->
    </div>

  </div>